<a href="https://colab.research.google.com/github/a95123hsu/ist526/blob/main/Statistical_Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Help wanted!

In [4]:
help(solve)

In [5]:
?solve

Pair t-test Task 1

In [51]:
my_data <- read.csv("https://raw.githubusercontent.com/a95123hsu/ist526/main/Completion%20time_new%20-%20%E5%B7%A5%E4%BD%9C%E8%A1%A87%20(2).csv")
sd1 <- sd(my_data$T1C1)
sd2 <- sd(my_data$T1C2)
t.test(my_data$T1C2, my_data$T1C1, paired = TRUE, var.equal = TRUE, conf.level=0.95)
print(sd1)
print(sd2)

	Paired t-test

data:  my_data$T1C2 and my_data$T1C1
t = 3.751, df = 5, p-value = 0.01328
alternative hypothesis: true mean difference is not equal to 0
95 percent confidence interval:
  22.8966 122.6167
sample estimates:
mean difference
       72.75667

[1] 6.297992
[1] 49.39225

Pair t-test Task 2

In [53]:
my_data <- read.csv("https://raw.githubusercontent.com/a95123hsu/ist526/main/Completion%20time_new%20-%20%E5%B7%A5%E4%BD%9C%E8%A1%A87%20(2).csv")
sd1 <- sd(my_data$T2C1)
sd2 <- sd(my_data$T2C2, na.rm = TRUE)
t.test(my_data$T2C2, my_data$T2C1, paired = TRUE, var.equal = TRUE, conf.level=0.95)
print(sd1)
print(sd2)

	Paired t-test

data:  my_data$T2C2 and my_data$T2C1
t = 0.63381, df = 3, p-value = 0.5712
alternative hypothesis: true mean difference is not equal to 0
95 percent confidence interval:
 -155.3964  232.6864
sample estimates:
mean difference
         38.645

[1] 48.64991
[1] 81.88721